<html>
	<head>
		<script type="text/javascript" src="static/head.load-0.9.min.js"></script>
	</head>
	<body>
		<div id="content">
			<a class="routed" href="github">github</a><br>
			<a class="routed" href="yahoo">yahoo</a>
		</div>
		
		{{> partial_timeline }}
		
		{{> partial_scripts }}
		
	</body>
</html>