<div class="container-fluid">
  <!-- start nav -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Gerrit</a>
        <form class="navbar-search pull-right">
          <input type="text" class="span2 search-query" placeholder="Change #, SHA-1, tr:id, owner:email or reviewer:email" name="q">
        </form>
      </div>
    </div>
  </div>
  <!-- end nav -->
  <div class="row pages">
    <!-- start mine page -->
    <div class="span12 page" id="mine"></div>
    <!-- end mine page -->
    <!-- start change page -->
    <div class="span12 page" id="change"></div>
    <!-- end change page -->
    <!-- start search page -->
    <div class="span12 page" id="search"></div>
    <!-- end search page -->
    <!-- start search page -->
    <div class="span12 page" id="diff"></div>
    <!-- end search page -->
    <!-- start sign in page -->
    <div class="span12 page" id="sign-in" style="display:none">
      <form class="form-horizontal">
        <fieldset>
          <legend>Sign in</legend>
          <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
              <input type="text" class="span3" placeholder="Username" name="username">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" class="span3" placeholder="Password" name="password">
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- end sign in page -->
  </div>
  <div class="row">
    <div class="span12">
      <footer class="footer">
      <hr>
      <p><a href="https://github.com/erikeldridge/gerrit.js">Gerrit.js</a></p>
      </footer>
    </div>
  </div>
</div>