<script type="text/javascript">
var rpc;
var provider = 'http://{{host}}';

head.js(
	"/static/jquery-1.5.1.min.js",
	"/static/mustache.js",
	"/static/json2.js",
	"/static/controllers.js",
	"/static/routing.js"
);
</script>