<h1>{{title}}</h1>
<ul class="nav nav-pills">
  <li class="active"><a href="#change,{{changeWebId}},details">Details</a></li>
  <li><a href="#reviewers">Reviewers</a></li>
  <li><a href="#patch">Current patch</a></li>
  <li><a href="#comments">Comments</a></li>
</ul>
<div class="row">
  <div class="span6">
    <h2><a name="#change,{{changeId}},details"></a>Change details</h2>
    <ul>
      <li>Change-Id: {{changeShaId}}</li>
      <li>Owner: {{owner}}</li>
      <li>Project: {{project}}</li>
      <li>Uploaded: {{uploaded}}</li>
      <li>Updated: {{updated}}</li>
      <li>Patch count: {{patchCount}}</li>
      <li>Status: {{status}}</li>
      <li>Fetch current patch: <code>git fetch /refs/changes/{{changeWebIdSuffix}}/{{changeWebId}}/{{currentPatchId}}</code></li>
    </ul>
  </div>
  <div class="span6">
    <h2>Commit message</h2>
    <pre>{{message}}</pre>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2>Reviewers</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        {{#reviewers}} \
        <tr>
          <td>{{name}}</td>
          <td></td>
        </tr>
        {{/reviewers}} \
      </tbody>
    </table>
  </div>
  <div class="span6"></div>
</div>
<div class="row">
  <div class="span12">
    <h2>Current patch</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Change type</th>
          <th>File path</th>
          <th>Comment count</th>
        </tr>
      </thead>
      <tbody>
        {{#patches}}\
        <tr>
          <td>{{changeType}}</td>
          <td>{{file}}</td>
          <td>{{commentCount}}</td>
        </tr>
        {{/patches}} \
      </tbody>
    </table>
  </div>
</div>